*{
text-decoration: none;
}

.EventsHeading{
    /* styling for the events heading */
    top: 0vw;
    position: relative;
    left: 80px;
}
.EventsEvent{
    /* styling for the events text */
   margin-top: 0vw;
   top: 2vw;
position: relative;



    /* H1 */

    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;

    /* identical to box height */


    /* Primary */

    color: #4789C0; 

    /* padding-right: 30px; */



}
.Eventshori{

    /* styling for the horizontal rule */

width: 75vw;
top: -1.5vw;
left: 10vw ;
position: relative;
margin-top: 3vw ;
border: 1px solid #4789C0;

 transform: rotate(-0.04deg);
}
/* responsiveness for phone  layout */
/* @media(min-width:320px) and (max-width: 480px){
    .EventsHeading{
        position: relative;
        align-items: center;
        left: 3vw;
        top: 0vw;
    }
    
    .Eventscard1{
        display: block;
        align-items: center;
        left: 4vw;
        top: 0vw;
        width: 52vw !important;
        height: 30vw !important;
    }
    .Eventscard2{
        display: none;
    }
    /* #poster{
        position: relative;
    width: 24vw !important;
    height: 30vw !important;
    border-radius: 1.5vw 0vw 0vw 1.5vw;
    align-items: left;
    left: 0;
    top:0;
    
    }  *//*
    .Eventstext{
        
        display: block;
        margin-left: 26vw !important;
        margin-right: 1vw !important;
        font-size: 1.4vw !important;
    }

    .Eventsh{
        margin-left: 7.5vw !important;
    }
    #right{
        left: 89vw !important;
        top: 29vw !important;
    }
    #left{
        left: 1vw;
        top: 29vw !important;
    }
    .Eventsnewev{
        left: 35vw !important;
        top: 52vw !important;
        font-size: 2vw !important;
        color: #4789C0;
        
    }
} */
/* resonsiveness for tab view */
/* @media(min-width:481px) and (max-width: 768px){
.Eventsnewev{
    left: 35vw !important;
    color: #4789C0;
    
    
}

.Eventsne{
    color: #4789C0 !important;
}
} */
.Eventscards{
    position: relative;
    top: -8vw;
}

.Eventscontainer{
    /* styling for the card container */
    position: relative;
    width: auto;
height: auto;
left: 17vw;
top: 3vw;
font-family: 'Noto Sans', sans-serif;
font-style: normal;
overflow-wrap: break-word;

background: #F9FCFF;



display: flex;



}
.Eventscard1{
    /* styling for  card 1 */
    position: relative;
    width: 30vw;
height: 17vw;
margin-left: 0;

font-family: 'Noto Sans', sans-serif;
font-style: normal;
overflow-wrap: break-word;

background: #F9FCFF;
box-shadow: 0.5vw 0.5vw 0.5vw  rgba(0, 0, 0, 0.25);
border-radius: 1.5vw 1.5vw 1.5vw 1.5vw;

transition: transform.5s;
display: flex;
}
.Eventscard1:hover{
    /* hover effect for card 1 */
    transform: scale(1.12);
    box-shadow: 0.5vw 0.5vw 0.5vw  #647691;
    
    

}
.Eventstext{
    /* text styling for cards */

    margin-left: 15vw;
    margin-right: 1vw;
    font-size: 0.8vw;

}

.Eventsh{
    /* styling for  the heading of the card */
    align-items: center;
    margin-left: 3vw;


}
#con{
    /* styling for the content of card */
    font-weight: normal;
    margin-left: 0;
    width: 15vw;


}

/* #name{
    /* styling for the  */
    /* padding-left: 10vw; */

/* } */
#poster1{
    /* styling for the poster */
    position: relative;
width: 14vw;
height: 17vw;
border-radius: 1.5vw 0vw 0vw 1.5vw;
align-items: left;
left: -31vw;
top:0;

} 
#poster2{
    position: relative;
width: 14vw;
height: 17vw;
border-radius: 1.5vw 0vw 0vw 1.5vw;
align-items: left;
left: 0;
top:-11.2vw;

}
.Eventscard2{
    /* styling for the second card */
    position: relative;
    width: 30vw;
height: 17vw;
left: 5vw;

font-family: 'Noto Sans', sans-serif;
font-style: normal;

background: #F9FCFF;
box-shadow: 0.5vw 0.5vw 0.5vw  rgba(0, 0, 0, 0.25);
border-radius: 0vw 2vw 2vw 2vw;
transition: transform .5s;




}
.Eventscard2:hover{
    transform: scale(1.12);
    box-shadow: 0.5vw 0.5vw 0.5vw #647691;
    
    

}


#right{
    /* styling for the right svg */
    box-sizing: border-box;

    position: relative;

    left: 88vw;
    top: 0.5w;

    transition: transform 0.3s;
    background: #F9FCFF;

}
#right:hover{
    transform: scale(1.2)
}
#left{
    /* styling for the left svg */
    box-sizing: border-box;

    position: relative;
    left: 6vw;

    top: 0.5vw;

    transition: transform 0.4s;
    background: #F9FCFF;;

}
#left:hover{
        transform: scale(1.2);
}
.Eventsnewev{
/* sstyling for the more events anchor */
    position: relative;
width: fit-content;
height: 2vw;
left: 82vw;
top: 8vw;
margin-bottom: 3vw;

/* H3 */

font-family: 'Noto Sans', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 0.8vw;
line-height: 4vw;

/* Primary */

color: #4789C0;
}
.Eventsne{
    color: #4789C0;
    cursor: pointer;
}
a, a:visited, a:hover, a:active {
   /* disabling color change due to anchor tag */
    color: inherit;
  }
